/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  font-family: sans-serif, 'Creepster';
  margin: 0;
  padding: 0;
  /* background-color: rgba(15, 15, 15, 0.815); */
  background: linear-gradient(to top, black, rgba(15, 15, 15, 0.815));
  color: white;
  animation: fade 2s ease-in-out 1;
}

p {
  font-size: 16px;
}

@media(max-width: 480px){
  p {
    font-size: 16px;
  }
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

h2 {
  font-size: 31px; /* Adjust the font size as desired */
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

#subtopic {
  flex: 1;
  font-size: 20px;
  color: white;
}

nav ul li a {
  color: white;
  text-shadow: 6px 6px 4px black;
}

#profile {
  flex: 1;
  background-color: #1a0000;
  border: 1px solid #fff; /* Change the border color to white */
  border-radius: 10px;
  padding: 20px;
  max-width: 25%;
  height: auto;

}

/* Section Styles */

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

section h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  padding: 20px;
}

section#contact,
section#animation {
  display: block;
}

section#contact h2,
section#animation h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

section#animation h2,
section#contact h2 {
  text-align: left;
}


#master {
  background-image: url(artworks/ghost.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  text-shadow: 6px 6px 4px black;
  max-width: 100%;
  height: auto;
  
}

h1,
h2,
h3 {
  color: #ff4d4d;
}

p {
  color: white;
}

/* Form Styles */
form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  background-color: #1a0000;
  color: white;
  border: 1px solid #ff4d4d;
  border-radius: 10px;;
  width: 50%;
  padding: 10px;
}

form button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  display: block;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Footer Styles */
footer {
  background-color: #1a0000;
  padding: 20px;
  text-align: center;
}


/* Artwork Styles */

.artwork-image {
  /* width: 25%; /* Adjust the desired width */
  /* height: 600px; Maintain aspect ratio */ 
  max-width: 100%;
  height: auto;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artwork {
  width: 22%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #1a0000;
  border: 1px solid #fff; 
}

.artwork-image {
  width: 100%;
  height: auto;
}


a {
  color: #FF0000; /* Set your desired link color */
  text-decoration: none; /* Remove underline if desired */
}

a:hover {
  color: #FF00FF; /* Set the color for link hover state */
}

.video-wrapper {
  position: relative;
  width: 25%;
  height: 25%;
  overflow: hidden;
  background-color: #1a0000;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}